.form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 50px;
    background-color: indianred;
    margin: 50px auto;
    gap:5px;
    border-radius: 10px;

}

input{
    padding: 5px;
    border-radius: 10px;
    width: 300px;
}

button{
    padding: 5px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}